@import url('https://fonts.googleapis.com/css?family=PT+Sans');

.principalGridInsta {
    position: relative;
    width: 100%;
}

.gridInsta {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-items: center;
    margin-left: 20px;
    margin-right: 20px;
  }

.imgInsta {
    display: block;
    max-width: 250px;
    width: 100%;
    max-height: 250px;
    min-height: auto;    
}

.pInsta {
    color: #272727;
    font-family: 'PT Sans';
    text-align: center;
}