@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

.faixa {
    background-color: #F6F6F6;
    position: absolute;
    height: 500px;
    left: 0;
    width: 100%;
    z-index: 0;
  }

  .gridFaixa {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-items: center;
    margin-left: 20px;
    margin-right: 20px;
  }

.h1 {
    color: #272727;
    font-family: 'PT Sans';
}

.gridTitle {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(4, auto);
    align-items: center;
    justify-items: center;
}

.imgCard1 {
    display: block;
    max-width: 350px;
    width: 100%;
    max-height: 450px;
    min-height: auto;    
}

.imgCard2 {
    display: block;
    max-width: 350px;
    width: 100%;
    max-height: 200px;
    min-height: auto;    
}

.pTitle {
    font-family: 'Playfair Display';
    text-align: center;
    margin: 20px;
}

.pSubtitle {
    font-family: 'PT Sans';
    text-align: center;
    margin: 20px
}

.backgroudTxt {
    background-color: #F5E5D9;
    max-width: 350px;
    width: 100%;
    max-height: 250px;
    min-height: auto;
    margin-top: -20px;  
}

.h1, .imgCard1, .backgroudTxt, .imgCard2 {
    position: relative;
    z-index: 5;
  }